* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

body {
    
   background-image: url(../img/DSC_0058_1.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


/*-------- Header--------- */

.header {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;

}


.name {
    border: 0px hidden black;
    background: rgba(230, 208, 168, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    padding: 15px;

}

.header-image {
    background-image: url(../img/imageonline-co-straightend-image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-bottom: 2px;
    height: 300px;
}

/*-------- navigation--------- */

.nav {
    overflow: hidden;

    padding: 20px 40px;
}

.nav a {
    font-weight: 700;
    color: black;
    margin-right: 70px;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    text-transform: uppercase;


}



.nav a:hover {
    background-color: #ddd;
    color: black;
}

.nav a.active {
    background-color: red;
    color: white;
}


.nav-menu {
    text-align: center;
    justify-content: center;


}



#index-gallery {
    max-width: 1400px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas:"gallery-p gallery-p gallery-p gallery-p"
    "gallery-h2 gallery-h2 gallery-h2 gallery-h2"
    "img1 img2 img3 img4"
    "img5 img6 img3 img7"
    "img8 img9 img10 img11";
       
}

#index-gallery .gallery-img {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    cursor: pointer;
}

/*images*/
#index-gallery p  {
    grid-area: gallert-p;}
#index-gallery h2 {
    grid-area: gallery-h2;
}


#index-gallery .img1 {
    grid-area: img1;
    background-image: url("../img/DSC_0646.JPG");
}
#index-gallery .img2 {
    grid-area: img2;
    background-image: url("../img/flag.JPG");
}
#index-gallery .img3 {
    grid-area: img3;
    background-image: url("../img/DSC_0047_1.JPG");
    height: 610px;
}
#index-gallery .img4 {
    grid-area: img4;
    background-image: url("../img/DSC_0072_1.JPG");
}
#index-gallery .img5 {
    background-size: cover;
    grid-area: img5;
    background-image: url("../img/DSC_0134.JPG");
}
#index-gallery .img6 {
    grid-area: img6;
    background-image: url("../img/DSC_0058_1.JPG");
}
#index-gallery .img7 {
    grid-area: img7;
    background-image: url("../img/DSC_0059_1.JPG");
}
#index-gallery .img8 {
    grid-area: img8;
    background-image: url("../img/DSC_0060_1.JPG");
}
#index-gallery .img9 {
    grid-area: img9;
    background-image: url("../img/DSC_0155.JPG");
}
#index-gallery .img10 {
    grid-area: img10;
    background-image: url("../img/DSC_0067_1.JPG");
}
    
    #index-gallery .img11 {
    grid-area: img11;
    background-image: url("../img/DSC_0001_1.JPG");
}

/*gallery image title*/

.gallery-img div {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.gallery-img a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

}
.gallery-img div:hover {
   
    opacity: 0.8;
    transition: all ease-in-out 100ms;

   
}

/* popup window when click */

.img-window {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.img-window img {
    max-height: 80vh;
    max-width: 80vw;

   
}

/* Next Image */

.img-btn-next {
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #1111;
    position: fixed;
    top:  48vh;
    z-index: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;

}
.img-btn-next:hover {
    opacity: 0.8;  
}


.img-btn-prev {
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #1111;
    position: fixed;
    top:  48vh;
    z-index: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;

}
.img-btn-prev:hover {
    opacity: 0.8;
  
}


/*-------- Footer --------- */

.footer {
    max-width: 1400px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
     background-color: rgba(162,198,255,0.5);
    padding: 10px;
    margin-bottom: 5px;
    

}


.box p {
     transform: translate(10%, 60%);
    width: 250px;
    text-align: center;
   background-color: rgba(162,198,255,0.5);
 font-family: 'Open Sans Condensed', sans-serif;
}

.social{
    margin-right: 28px;
    cursor: pointer;
    
}
.edit {
    text-decoration: none;
     background-color: red;
    color: white;
    padding: 5px;
    border-radius: 2px;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 5px;
  
}






















































































































































































